mixin panel({ additionalClasses, mods, styles, options = {} } = {})
  -
    const className = 'panel';
    const classes = generateClassList({ className, mods, additionalClasses });
    const data = require('./components/panel/data.json');

    const sliderClass = `${className}__slider`;
    const fieldClass = `${className}__field`;
    const checkboxClass = `${className}__checkbox`;


  div(class= `${classes} js-${className}` style= styles)
    +slider({ additionalClasses: `${sliderClass} js-${sliderClass}`, options })

    div(class= `${className}__raw`)
      each field in data.fields
        +num-field({
          additionalClasses: `${fieldClass} js-${fieldClass}`,
          title: field.title,
          name: field.name,
        })

    div(class= `${className}__raw`)
      each checkbox in data.checkboxes
        +checkbox({
          additionalClasses: `${checkboxClass} js-${checkboxClass}`,
          title: checkbox.title,
          name: checkbox.name,
        })
