mixin panel({ additionalClasses, mods, styles, options = {} } = {})
  -
    const className = 'panel';
    const classes = generateClassList({ className, mods, additionalClasses })

  div(class= classes style= styles)
    +slider({ additionalClasses: `${className}__slider`, options })

    div(class= `${className}__raw`)
      +num-field({ additionalClasses: `${className}__field`, title: 'min', name: 'min' })
      +num-field({ additionalClasses: `${className}__field`, title: 'max', name: 'max' })
      +num-field({ additionalClasses: `${className}__field`, title: 'step', name: 'step' })
      +num-field({ additionalClasses: `${className}__field`, title: 'value', name: 'value' })

    div(class= `${className}__raw`)
      +checkbox({ additionalClasses: `${className}__checkbox`, title: 'bar', name: 'bar' })
      +checkbox({ additionalClasses: `${className}__checkbox`, title: 'tip', name: 'tip' })
