mixin panel({ additionalClasses, mods, styles, options = {} } = {})
  -
    const className = 'panel';
    const classes = generateClassList({ className, mods, additionalClasses })

    const fieldsData = [
      { title: 'min' },
      { title: 'max' },
      { title: 'step' },
      { title: 'from' },
    ];

    const checkboxesData = [
      { title: 'range' },
      { title: 'bar' },
      { title: 'tip' },
    ];

  div(class= classes style= styles)
    +slider({ additionalClasses: `${className}__slider`, options })

    div(class= `${className}__raw`)
      each field in fieldsData
        +num-field({
          additionalClasses: `${className}__field`, title: field.title, name: field.title })

    div(class= `${className}__raw`)
      each checkbox in checkboxesData
        +checkbox({
          additionalClasses: `${className}__checkbox`, title: checkbox.title, name: checkbox.title })
