mixin num-field({ title = 'title', name = '', min = null, max = null, step = 1, value = 0 } = {})
  - const className = 'num-field';

  div(class = className)
    label(class = `${className}__label`)
      span(class = `${className}__title js-${className}__title`)= title
      input(
        class = `${className}__input js-${className}__input`
        type = "number"
        name = name
        min = min
        max = max
        step = step
        value = value
      )
      div(class = `${className}__disable-cover`)
