mixin slider({ additionalClasses, mods, options = {} } = {})
  -
    const className = 'o-slider';
    const classes = generateClassList({ className, mods, additionalClasses })

  div(
    class= classes
    data-min= options.min
    data-max= options.max
    data-step= options.step
    data-from= options.from
    data-to= options.to
    data-tip= options.tip
    data-bar= options.bar
    data-range= options.range
    data-vertical= options.vertical
  )
